.my-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.custom-button {
    width: 350px;
}

.my-logout-button {

}

.my-custom-button {
    
}

.my-custom-back {
    background-image: linear-gradient(to bottom right, black, silver);
    width: 100vw;
    height: 100vh;
}

.box {
    
}